<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}SSIS{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blayout.css') }}">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SCC.css') }}">
    {% endblock %}
</head>
<body>

<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show small" role="alert">
          <i class="fas fa-exclamation-circle"></i> 
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    </div>
    
    <script>
      setTimeout(function() {
        $('.alert').alert('close');
      }, 3000);
    </script>
    
  {% endif %}
{% endwith %}


<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="background-color: rgb(0, 0, 0);">
            <div class="sidebar-sticky">
                <div class="text-center d-flex align-items-center">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="sidebar-logo">
                    <h5 class="sidebar-subtitle">MSU IIT:</h5>
                    <h2 class="sidebar-title">SIS</h2>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('students.students_page') }}"><i class="fas fa-user-graduate"></i>Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('courses.courses_page') }}"><i class="fas fa-book"></i>Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('colleges.colleges_page') }}"><i class="fas fa-building"></i>Colleges</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main Content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</div>

<!-- JavaScript libraries -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% block scripts %}
<script src="{{ url_for('static', filename='js/modals.js') }}"></script>
{% endblock %}

</body>
</html>
