{% extends 'base.html' %}

{% block title %}Colleges{% endblock %}

{% block content %}
<!-- SEARCH -->
<div class="d-flex align-items-center mt-5">
    <h2><strong>Colleges</strong></h2>
    <button class="btn btn-success ml-3 add-college-button" data-toggle="modal" data-target="#addCollegeModal">
        <i class="fas fa-plus"></i>
    </button>

    <div class="ml-3 d-flex align-items-center">
        <form method="GET" action="{{ url_for('colleges.colleges_page') }}" class="d-flex align-items-center">
            <input type="text" class="form-control form-control-sm" id="collegeSearch" name="search_query" placeholder="Search..." aria-label="Search" value="{{ request.args.get('search_query', '') }}">

            <button class="btn btn-primary ml-1" id="searchButton" type="submit">
                <i class="fas fa-search"></i>
            </button>

            <select class="form-control form-control-sm ml-2" id="filterSelect" name="filter_by" aria-label="Filter by" onchange="this.form.submit()">
                <option value="col_code" {% if request.args.get('filter_by') == 'col_code' %}selected{% endif %}>College Code</option>
                <option value="col_name" {% if request.args.get('filter_by') == 'col_name' %}selected{% endif %}>College Name</option>
            </select>
        </form>
    </div>
</div>



<!-- TABLE -->
<div class="table-container">
    <table class="table colleges-table mt-3">
        <thead>
            <tr>
                <th>College ID</th>
                <th>College Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if colleges %}
                {% for college in colleges %}
                <tr>
                    <td>{{ college.col_code }}</td>
                    <td>{{ college.col_name }}</td>
                    <td class="action-buttons">
                        <button class="btn btn-warning" data-toggle="modal" data-target="#editCollegeModal"
                                data-col-code="{{ college.col_code }}" data-col-name="{{ college.col_name }}">
                            <i class="fas fa-edit"></i> 
                        </button>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteCollegeModal" 
                                data-col-code="{{ college.col_code }}">
                            <i class="fas fa-trash-alt"></i> 
                        </button>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7" class="text-center">No colleges found.</td>
                </tr>
            {% endif %}
        </tbody>        
    </table>
</div>

{% include "modals/add_college.html" %}
{% include "modals/edit_college.html" %}
{% include "modals/delete_college.html" %}
{% endblock %}