{% extends 'base.html' %}

{% block title %}Courses{% endblock %}

{% block content %}
<!-- SEARCH -->
<div class="d-flex align-items-center mt-5">
    <h2><strong>Courses</strong></h2>
    <button class="btn btn-success ml-3 add-course-button" data-toggle="modal" data-target="#addCourseModal">
        <i class="fas fa-plus"></i>
    </button>

    <div class="ml-3 d-flex align-items-center">
        <form method="GET" action="{{ url_for('courses.courses_page') }}" class="d-flex align-items-center">
            <input type="text" class="form-control form-control-sm" id="courseSearch" name="search_query" placeholder="Search..." aria-label="Search" value="{{ request.args.get('search_query', '') }}">

            <button class="btn btn-primary ml-1" id="searchButton" type="submit">
                <i class="fas fa-search"></i>
            </button>

            <select class="form-control form-control-sm ml-2" id="filterSelect" name="filter_by" aria-label="Filter by" onchange="this.form.submit()">
                <option value="course_code" {% if request.args.get('filter_by') == 'course_code' %}selected{% endif %}>Course Code</option>
                <option value="course_name" {% if request.args.get('filter_by') == 'course_name' %}selected{% endif %}>Course Name</option>
                <option value="col_code" {% if request.args.get('filter_by') == 'col_code' %}selected{% endif %}>College</option>
            </select>
        </form>
    </div>
</div>



<!-- TABLE -->
<div class="table-container">
    <table class="table courses-table mt-3">
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>College ID</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if courses %}
                {% for course in courses %}
                <tr>
                    <td>{{ course.course_code }}</td>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.col_code }}</td>
                    <td class="action-buttons">
                        <button class="btn btn-warning" data-toggle="modal" data-target="#editCourseModal" 
                                data-course-code="{{ course.course_code }}" data-course-name="{{ course.course_name }}" data-col-code="{{ course.col_code }}">
                            <i class="fas fa-edit"></i> 
                        </button>                
                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteCourseModal" data-code="{{ course.course_code }}">
                            <i class="fas fa-trash-alt"></i> 
                        </button>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7" class="text-center">No courses found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<div class="pagination-container">
    <ul class="pagination">
        {% if page > 1 %}
        <li>
            <a href="?page={{ page - 1 }}&search_query={{ request.args.get('search_query', '') }}&filter_by={{ request.args.get('filter_by', '') }}">&#x276E;</a>
        </li>
        {% endif %}

        {% for p in range(1, total_pages + 1) %}
        <li class="{% if p == page %}active{% endif %}">
            <a href="?page={{ p }}&search_query={{ request.args.get('search_query', '') }}&filter_by={{ request.args.get('filter_by', '') }}">{{ p }}</a>
        </li>
        {% endfor %}

        {% if page < total_pages %}
        <li>
            <a href="?page={{ page + 1 }}&search_query={{ request.args.get('search_query', '') }}&filter_by={{ request.args.get('filter_by', '') }}">&#x276F;</a>
        </li>
        {% endif %}
    </ul>
</div>
{% include "modals/add_course.html" %}
{% include "modals/edit_course.html" %}
{% include "modals/delete_course.html" %}
{% endblock %}